<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">The page is not found.</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="BootcampGroups" asp-action="Index">Bootcamp List</a>
    </div>
</div>